<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
  <Appenders>
    <TerminalConsole name="TerminalConsole">
      <PatternLayout pattern="%highlightError{[%d{YYYY-MM-dd HH:mm:ss} %level] [%logger]: %minecraftFormatting{%msg}%n%xEx}" />
    </TerminalConsole>
  </Appenders>

  <Loggers>
    <Root level="info">
      <AppenderRef ref="TerminalConsole"/>
    </Root>
  </Loggers>
</Configuration>
